/* ? estilos da parte: navbar */

div.navbar  {
    width: 100vw;
    margin: 0px;
    padding: 20px 0px;

    position: fixed;

    display: flex;  
    justify-content: space-evenly;
    align-items: center;

    transition: all ease-in-out .3s;
}

div.navbar>* {
    transition: all ease-in-out .3s;
}

div .navbar_red  {
    padding: 10px 0px;
    background-color: #e33f3f;
    -webkit-box-shadow: 0px 5px 13px -1px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 5px 13px -1px rgba(0,0,0,0.39);
    box-shadow: 0px 5px 13px -1px rgba(0,0,0,0.39);
}

div.navbar_red>img.logo  {
    height: 45px;
}

ul.menu  {
    display: flex;
}

li.menu_item  {
    margin: 0px 20px;
    font-family: "Prompt";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

a.menu_link  {
    color: white;
}

img.logo  {
    height: 68px;
}

/* ? código da parte: parts/bannerWithForeground */

.text  {
    font-family: "Prompt";
    color: white;
}


div.banner_with_foreground  {
    height: 695px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y:center ;
    background-size:cover;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

img.banner_foreground  {
    height: 695px;
    margin-left: -100px;
}

div.ctaAndText  {
    width: 640px;
    margin-right: 400px;

    display: flex;
    flex-direction: column;
    justify-content:center;
}

p.banner_text  {
    width: inherit;
    font-family: "Mukta";
    margin: 0px;
    line-height: 23px;
    word-spacing: 2px;
    font-size: 16px;
    font-weight: 400;
}


.banner_title  {
    font-weight: 700;
    text-shadow: -2px 1px 18px rgba(0,0,0,0.39);
    font-size: 45px;
    line-height: 50px;
    margin: 0px 0px 20px 0px;

    width: 500px;
}

button.banner_cta  {
    font-family: "Prompt";
    color: white;
    font-weight: 400;
    width: 200px;
    height: 50px;
    text-transform: uppercase;
    word-spacing: 5px;
    letter-spacing: .3px;

    margin-top: 20px;

    border-color: #ff9898;
    border-radius: 10px;
    border-width: thin;
    border-style: solid;
    background-color: rgba(255, 255, 255, 0);

    cursor: pointer;

    transition: all ease-in-out .3s;
}

button.banner_cta:hover  {
    background-color: white;
    border-color: white;
    color: black;
}

div.sponsors  {
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 90px;
}

p.banner_sponsors  {
    font-family: "Prompt";
    font-weight: 400;
    word-spacing: 3px;
}

img.sponsor_img  {
    height: 30px;
    margin-left: 20px;
}