/* ++++++++++++++++++++++++++++++++++++++++++++++++++++  

    ? estilos gerais 

 ++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.hidden  {
    display: none;
}

.text  {
    font-family: "Prompt";
    color: white;
    margin: 0px;
}

.body_text  {
    font-family: "Catamaran";
    font-weight: 300;
    line-height: 27px;
}

.sub_title  {
    font-family: "Mukta";
    line-height: 23px;
    word-spacing: 2px;
    font-weight: 400;
}

.title  {
    font-weight: 700;
    line-height: 50px;
}

.button  {
    font-family: "Prompt";
    border-radius: 10px;
    border-style: none;
    color: white;
    font-weight: 400;
    width: 200px;
    height: 50px;
    text-transform: uppercase;
    word-spacing: 5px;
    letter-spacing: .3px;
    transition: all ease-in-out .3s;
    cursor: pointer;
}

.input  {
    cursor: text;
    margin: 0px 10px 0px 0px;
    background-color: #EF5D5D;
    height: 36px;
    width: 270px;
    text-transform: none;
    padding: 5px 20px;
    font-size: 17px;

    word-spacing: normal;
    letter-spacing: normal;
} 

.input::placeholder  {
    font-family: "Catamaran";
    font-weight: 100;
    color: white;
    text-transform: none;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++  

    ? estilos da parte: navbar 

 ++++++++++++++++++++++++++++++++++++++++++++++++++++ */


div.navbar_container  {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 2;
    transition: all ease-in-out .3s;
    margin: 0px;
    padding: 0px;
}

div.navbar  {
    width: 100vw;
    margin: 0px;
    padding: 20px 0px;

    display: flex;  
    justify-content: space-evenly;
    align-items: center;
    transition: all ease-in-out .3s;

}

div.navbar>* {
    transition: all ease-in-out .3s;
}

div.navbar_red  {
    background-color: #e33f3f;
    -webkit-box-shadow: 0px 5px 13px -1px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 5px 13px -1px rgba(0,0,0,0.39);
    box-shadow: 0px 5px 13px -1px rgba(0,0,0,0.39);
}

div.navbar_red>div.navbar>img.logo  {
    height: 45px;
}

ul.menu  {
    display: flex;
}

li.menu_item  {
    margin: 0px 20px;
    font-family: "Prompt";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

a.menu_link  {
    color: white;
}

img.logo  {
    height: 68px;
}

button.hamburger_icon  {
    display: none;
    background: none;
    border: none;
}

svg.hamburger_icon  {
    height: 20px;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++

    ? código da parte: parts/bannerWithForeground 

 +++++++++++++++++++++++++++++++++++++++++++++++++*/



div.banner_with_foreground  {
    height: 695px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y:center ;
    background-size:cover;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

img.banner_foreground  {
    height: 695px;
    margin-left: -100px;
}

div.cta_and_text  {
    width: 640px;
    margin-right: 400px;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content:center;
}

p.banner_text  {
    width: inherit;
    margin: 0px;
    font-size: 16px;
}


.banner_title  {
    text-shadow: -2px 1px 18px rgba(0,0,0,0.39);
    font-size: 45px;
    margin: 0px 0px 20px 0px;
    width: 500px;
}


button.banner_cta  {
    border-color: #ffffff36;
    border-width: thin;
    border-style: solid;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0);
}


button.banner_cta:hover  {
    background-color: white;
    border-color: white;
    color: black;
}

div.sponsors  {
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 90px;
}

p.banner_sponsors  {
    font-weight: 400;
    word-spacing: 3px;
}

img.sponsor_img  {
    height: 30px;
    margin-left: 20px;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++

    ? ESTILO DA PARTE parts/bannerWithForeground

++++++++++++++++++++++++++++++++++++++++++++++++++++ */

div.footer_with_form  {
    background-color: #e33f3f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    overflow: hidden;
}

div.footer_form_container  {
    display: flex;
    justify-self: flex-start;
    flex-direction: column;
    width: 720px;
    margin-right: 20px;
    margin-left: -90px;
}

.footer_title {
    line-height: 35px;
}

button.footer_button  {
    background-color: #2ecc71;
    height: 41px;
    margin: 15px -115px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
}

button.footer_button:hover  {
    background-color: #2fa25f;
}

.footer_form {
    display: flex;
}

.footer_foreground  {
    margin-top: 130px;
    height: 500px;
}

div.credits {
    height: 55px;
    background-color: #d13232;
    display: flex;
    justify-content: center;
    align-items: center;
}