@media(max-width: 1240px)  {

/* 
    ? parts/navbar
*/

    div.navbar  {
        justify-content: space-between;
    }

    img.logo  {
        margin-left:70px;
    }

    ul.menu  {
        display: none;
    }

    li.menu_item {
        margin: 20px 0px;
    }

    button.hamburger_icon  {
        display: inline-block;
        margin-right: 70px;
    }

/* 
    ? parts/bannerWithForeground
*/

    div.cta_and_text  {
        margin: 0px 0px 0px 300px;
    }

    img.banner_foreground  {
        position: absolute;
        opacity: .5;
   }

/* 
    ? parts/footerForm
*/

   div.form_and_text  {
        margin-left: -180px;
   }

   div.footer_form_container  {
        flex-wrap: wrap;
        width: 800px;
   }

}

@media(max-width: 768px)  {
/* 
    ? parts/bannerWithForeground
*/
    div.banner_with_foreground  {
        justify-content: center;
    }
    div.cta_and_text  {
        margin: 0px;
    }

/* 
    ? parts/footerForm
*/

    div.footer_with_form  {
        height: 650px;
    }
    div.form_and_text  {
        width: 300px;
    }
    div.footer_form_container  {
        flex-direction: column;
        width: 300px;
    }
    button.footer_button  {
        margin-left: 0px;
        width: 290px;
        height: 56px;
    }
    .input  {
        width: inherit;
        margin-top: 10px;
        height: 56px;
    }


}

@media(max-width: 656px)  {
/* 
    ? parts/bannerWithForeground
*/
    img.banner_foreground  {
        height: 800px;
    }
    div.banner_with_foreground  {
        height: 750px;
    }
    div.cta_and_text  {
        width: 300px;
    }
    .banner_title {
        width:400px;
        font-size: 40px;
    }
    p.banner_text {
        font-size: 14px;
    }
    img.sponsor_img  {
        height: 20px;
    }

}